* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 90%;
  }

.card.horizontal {
    height: 7vh;
    width: 69%;
    margin-left: 15%;
    background-color: #48c0e421;

 }

label {
    font-size: 1rem;
    font-weight: 600;
}

.softly {
    background-color: #e8f5fd;
}
.face-color{
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 900;
    background-color: #ffffff73;
    border-radius: 5px;
    padding: 1px;
    float:left;
}
.face-time{
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-weight: 900;
    background-color: #ffffff73;
    border-radius: 5px;
    padding: 1px;
}
.time-style{
    background-color: hsl(0, 0%, 100%);
    color: rgb(3 3 3 / 78%);
    border-radius: 10px;
    padding-right: 4px;
    font-size: 10.1px;
    font-weight: 900;
    font-family: monospace;
}
.chiplabel {
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
    padding: 0 3px;
    border-radius: 3px;
    background-color: #bfe3eb6b;
}
.containerend{
    width: 71.25%;
    background-image: url("../assets/img/bva.png");
    background-repeat: repeat;
    background-size: cover;
    margin: auto;
    border: 2.8px solid #ffffff;
    border-radius: 1rem;
    background-color: #ffffff3b;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: ced0d4;
    box-shadow: 0 2px 12px var(--shadow-2);
}

.por-que {
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -1.2rem;
    margin-bottom: -0.25rem;
}

.chip1 {
    float: left;
    height: 26px;
    width: 22px;
    margin: 0 0px 0 -22px;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #ffffff;
}
.switch label input[type=checkbox]:checked+.lever:after {
    background-color: rgb(255 255 255 / 85%);
    /* border-color: #262a2a; */
}

a#alarm-ativo > img {
    	
    width: 20%!important;
    margin-top: 0.7rem;
    margin-left:3.9rem;
    border-radius: 150px;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);

}
span#point-time1 > span {
    background: #2196f3!important;
    margin-top: 0.5rem;
}
span#point-time > span {
    background: #2196f3!important;
    margin-top: 2.25rem;
}
#cardguest{
    text-align: justify;
    display: inline-block;
    font-weight: bold;
    font-family: emoji;
    font-size:14.55px;  
}
.effectimg {
    opacity:98%;
    animation: scale 3s infinite;
    border-radius: 150px!important;
    box-shadow: inset 0 0 150px rgba(243, 121, 121, 0.5), 0 0 150px rgba(248, 126, 126, 0.2)!important;
}

@keyframes scale {
   	15% {
        transform: scale(0.25);
    }
	25% {
        transform: scale(0.5);
    }
    45% {
        transform: scale(0.7);
    }
	80% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(1.12);
    }
}

.card-row {
    position: relative;
    left: 1.8rem;
    margin: 0.3rem 0 0.3rem 0;
    width: 90%;
    padding: 0.5rem 0 0.5rem 0rem;
}

footer.site {
    padding: 10px;
    background-color: #072146;
    color: #fff;
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 2001;
    font-family: sans-serif;
}

.btn1 {
    border: 1px;
    border-bottom: #ffffff;
    border-radius: 2px;
    display: inline-block;
    height: 27px;
    line-height: 27px;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}



.green {
    background-color: #2196f3!important;
}

.btn-new{
    background-color: #01579B!important;
}

a#whatsapp{
    position: fixed;
    width: 44.5px !important;
    z-index: 10;
    margin-left: 1.4rem;
    bottom: -0%;
    background-size: contain;
    border-radius: 180%;
    height: auto;
}


 img.responsive-img {
   max-width: 60%;
   height: auto;
 }

.logo-img {
    width: 2.7em;
    margin-left: 1rem;
}

.nav-wrapper {
    background-color: #ffff;
}

.nav-wrapper a {
    color: #000000;
}

.list-home {
    color: #000000;
}

.center-align {
    margin-top: 2em;
}

.style-slider {
    margin-top: 3em;
}
.style-login {
    margin-top: 3em;
}
img.fa-style {
    background: rgba(92, 70, 85, 0.5);
}
.login-info{
    background-color: #f8fdff;
    border-radius: 20px 0;
    box-shadow: 0 0 3px #9fc1f8;
    color: #01579b;
}

/*fireworks css*/
@keyframes firework {
    0% { transform: translate(var(--x), var(--initialY)); width: var(--initialSize); opacity: 1; }
    50% { width: 0.5vmin; opacity: 1; }
    100% { width: var(--finalSize); opacity: 0; }
  }
  .firework,
  .firework::before,
  .firework::after
  {
    position:absolute;
    --initialSize: 1.025vmin;
    --finalSize: 45vmin;
    --particleSize: 2.5vmin;
    --color1: yellow;
    --color2: khaki;
    --color3: rgb(253, 240, 96);
    --color4: rgb(229, 237, 12);
    --color5: gold;
    --color6: rgb(212, 247, 13);
    --y: -40vmin;
    --x: -40%;
    --initialY: 60vmin;
    content: "";
    animation: firework 2.55s infinite;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, var(--y));
    width: var(--initialSize);
    aspect-ratio: 1;
    background: 
      /*
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 0%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 100% 100%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 0% 100%,
      */
      
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 50% 0%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 50%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 50% 100%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 0% 50%,
      
      /* bottom right */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 80% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 95% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 90% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 100% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 55% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 70% 77%,
      
      /* bottom left */
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 22% 90%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 45% 90%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 70%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 10% 60%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 31% 80%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 28% 77%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 13% 72%,
      
      /* top left */
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 80% 10%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 95% 14%,
      radial-gradient(circle, var(--color2) var(--particleSize), #0000 0) 90% 23%,
      radial-gradient(circle, var(--color3) var(--particleSize), #0000 0) 100% 43%,
      radial-gradient(circle, var(--color4) var(--particleSize), #0000 0) 85% 27%,
      radial-gradient(circle, var(--color5) var(--particleSize), #0000 0) 77% 37%,
      radial-gradient(circle, var(--color6) var(--particleSize), #0000 0) 60% 7%,
      
      /* top right */
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 22% 14%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 45% 20%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 33% 34%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 10% 29%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 31% 37%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 28% 7%,
      radial-gradient(circle, var(--color1) var(--particleSize), #0000 0) 13% 42%
      ;
    background-size: var(--initialSize) var(--initialSize);
    background-repeat: no-repeat;
  }
  
  .firework::before {
    position:absolute;
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(-20vmin, -2vmin) rotate(40deg) scale(1.3) rotateY(40deg); */
    transform: translate(-50%, -50%) rotate(40deg) scale(1.3) rotateY(40deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework::after {
    position:absolute;
    --x: -50%;
    --y: -50%;
    --initialY: -50%;
  /*   transform: translate(44vmin, -50%) rotate(170deg) scale(1.15) rotateY(-30deg); */
    transform: translate(-50%, -50%) rotate(170deg) scale(1.15) rotateY(-30deg);
  /*   animation: fireworkPseudo 2s infinite; */
  }
  
  .firework:nth-child(2) {
    position:absolute;
    --x: 30vmin;
  }
  
  .firework:nth-child(2),
  .firework:nth-child(2)::before,
  .firework:nth-child(2)::after {
    position:absolute;
    --color1: pink;
    --color2: violet;
    --color3: fuchsia;
    --color4: orchid;
    --color5: plum;
    --color6: lavender;  
    --finalSize: 40vmin;
    left: 30%;
    top: 70%;
    animation-delay: -0.5s;
  }
  
  .firework:nth-child(3) {
    --x: -30vmin;
    --y: -50vmin;
  }
  
  .firework:nth-child(3),
  .firework:nth-child(3)::before,
  .firework:nth-child(3)::after {
    position:absolute;
    --color1: cyan;
    --color2: rgb(16, 243, 243);
    --color3: rgb(79, 207, 250);
    --color4: rgb(14, 201, 253);
    --color5: rgb(71, 201, 253);
    --color6: cyan;
    --finalSize: 40vmin;
    left: 23%;
    top: 80%;
    animation-delay: -0.25s;
  }

/* Para dispositivos móviles */
@media (max-width: 767px) {
    .time-style {
        font-size: 1vw; /* Tamaño de fuente para móviles */
	font-family: sans-serif;
    }
    a#alarm-ativo > img {
        width: 28%!important;
    }
}
  
