<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Invitados</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="content-type" content="text/html;UTF-8">
  <meta http-equiv="cache-control" content="cache">
  <meta http-equiv="content-language" content="es">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300,400,500,600,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Enlazamos íconos de fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/galeryfriends.css">
  <link rel="stylesheet" href="../css/register.css">
  <link rel="stylesheet" href="../css/tweet-main.css">
</head>

<body>
  <nav class="white nav-wrapper">
        <a href="#" class="brand-logo" id = "scroll-to-post">
            <img src="../assets/logo/fa3.png" class="logo-img responsive-img" alt="">
        </a>      
        <button class="btn-out green right" id="signout">Ver tarjeta</button>
  </nav>
  <a href="https://chat.whatsapp.com/EiLur460DSt0a61CxWVfWe" id="whatsapp" target="_blank">    
    <img src="../assets/img/whatsapp.svg" >
  </a>

  <div class="container center main-style"> 
   <div class="row">    
     <div class="container">
         <div class="user card horizontal">
            <div  class="perfil-text col s12 l12 m12">              
              <span class="perfil-text" id="user-name"> Para confirmar tu asistencia, click en el checkbox a lado de tu nombre.Muchas Gracias.
              </span>
            </div>
           <div class="col s4 m4 l4">   
              <div class="center">
                <img src="../assets/img/sissor.png" class="circle responsive-img">
              </div>
           </div>
           <h2></h2>
           <h2></h2>
      </div> 
      
     </div> 
       
  	  <div class="col s12 m12 l12">	
      

     <!--2-->
  	         <!--pie de la web --> 
                     <!--modal de fotos -->   

<!--end 2-->
         <!--footer class="page-footer green"-->

        <div class="container por-que" id="listbot">
          <br>
          <div class="containerend">
            <br> 
            <h5 class="white-text" style="font-size: 25px;">Invitados</h5>
             <br> 
              <!--  -->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">        
                	<!--<label class="face-color" id="scaffolder_id">Scaffolder</label>-->
                  <div class="switch">
                    <input text= "checkbox_class1" type="checkbox" id="checkbox_id1">
                    <span class="span_check">Anyi M.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm1">
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm1" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;"></span>
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container  col l3 s2 push-l1">   
                  <div class="switch">
                      <input class= "checkbox_class2" type="checkbox" id="checkbox_id2">
                      <span class="span_check">Yesenia E.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm2" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm2" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;"></span>
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container  col l3 s2 push-l1">         
                  <div class="switch">
                      <input class= "checkbox_class1" type="checkbox" id="checkbox_id3">
                      <span class="span_check">Melinna V.</span>
                  </div>
                </div>
               <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm3" >
                      </a></li>
                  </ul>
               </div>
               <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm3" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;"></span>
               </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">          
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id4">
                    <span class="span_check">Handy FIN</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm4" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm4" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;"></span>
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">        
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id5">
                    <span class="span_check">Elvis GRM</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm5" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm5" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;"></span>
                </div>
              </div>
             </div>
             <div class="row card-row">
               <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id6">
                    <span class="span_check">Alejandro</span>
                  </div>
                 </div>
                <div class="container col l5 s6 push-l1">
                    <ul><li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm6" style="margin-top: 1.5rem;" >
                      </a></li></ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0">
                  <br>
                  <span class="face-time time-style" id="timealarm6" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id7">
                    <span class="span_check">Pedro C.A</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm7" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm7" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id8">
                    <span class="span_check">E.Mariana</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm8" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm8" style="display:none;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id9">
                    <span class="span_check">Carlo V.V.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm9" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm9" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--10-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id10">
                    <span class="span_check">Juan Jose</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm10" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm10" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--11-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id11">
                    <span class="span_check">Luis A. M.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm11" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm11" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--12-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id12">
                    <span class="span_check">Clinton H</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm12" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm12" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--13-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id13">
                    <span class="span_check">Jemmy P.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm13" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm13" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--14-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id14">
                    <span class="span_check">Quiza J.C.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm14" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm14" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--15-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id15">
                    <span class="span_check">Henry G A.</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm15" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm15" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--16-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id16">
                    <span class="span_check">Invitado.E</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm16" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm16" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--17-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id17">
                    <span class="span_check">Invitad@.E</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm17" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm17" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--18-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id18">
                    <span class="span_check">Invitado.E</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm18" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm18" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--19-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id19">
                    <span class="span_check">Invitado.E</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm19" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm19" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
             <!--20-->
             <div class="row card-row">
              <div class="col l10 s12 push-l1" style="padding: 0;">  
                <div class="container col l3 s2 push-l1">       
                  <div class="switch">
                    <input class= "checkbox_class1" type="checkbox" id="checkbox_id20">
                    <span class="span_check">Invitad@.E</span>
                  </div>
                </div>
                <div class="container col l5 s6 push-l1">
                  <ul>
                     <li><a href="register.html" id="alarm-ativo" target="_blank">
                      <img  id="imgalarm20" >
                      </a></li>
                  </ul>
                </div>
                <div class="container col l3 s3 push-l1" style="padding-right: 0;">
                  <br>
                  <span class="face-time time-style" id="timealarm20" style="display:block;box-shadow: 0 0 0.5px 1.8px #FFFFFF;">
                </div>
              </div>
             </div>
          </div>
          <br>
        </div> 
        <div class="container">	            
          <div class="row">              
                <div class="poster col s12 l12 m12">
                  <br>
                  <div id="posttext">
                    <span class="listmusic"><i class="tiny material-icons">headset</i> Por favor registrar tu pedido musical (1) para el baile y generar la lista al DJ</span>
                  </div>
                  <br>
                  <div class="col s4 l2 m2" id="user-photo"></div>
                  <div id="post">          
                   <textarea class="col s8 l9 m9" id="text" placeholder=""></textarea> 
                    <button id="btn" type="button" class="red" name="btn">Registrar</button>
                    <span id="counter" class="counter"></span>      
                  </div>
                </div> 
                <div class="col l12 s12 m12 container-tweets" id="container-tweets">
                    
          </div>          
        </div>
            
      </div>


      </div>    
    </div>   
  </div>
        <footer class="page-footer site">
           <div class="container">
			        <span>"El único y mejor regalo es contar con tu presencia para este gran día"</span>
           </div>
           <br>
           <div class="container">
            <p><i class="tiny material-icons">card_giftcard</i> plin 980437122</p>
           </div>
           <div class="footer-copyright">
            <div class="container">
                © 2025 Copyright Lima-Perú
            </div>
           </div>
        </footer>


          
    <script src="https://www.gstatic.com/firebasejs/4.9.0/firebase.js"></script> 
    <script type="text/javascript" src="../vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
    </script>
     <!-- Base de datos -->
    <script src='../js/dataVolunteer.js'></script>
    <!-- archivos JS
    <script src="../js/appFotos.js"></script> -->
    <script src="../js/appFotosv1.js"></script>
    <script src="../js/datafa.js"></script>
    <script src="../js/appfa.js"></script>   
    <script src="../js/app-tweet.js"></script>
    </body>

</html>
